.our-services
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.our-services .service
{
    background-color: rgba(0, 0, 0, 0.3);
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.our-services .service h2
{
    color: var(--primary-color);
} 
 
@media only screen and (max-width: 600px) 
{
    .our-services
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        align-content: center;
    }
    .our-services .service
    {
        width: 80%;
    }
}