
.top-bar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    height: 12vh;
    padding: 1vh 10vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.top-bar .logo
{
    height: 100%;
}

.top-bar .nav
{
    width: 60%;
    max-width: 500px;
    font-weight: 600;
}

.top-bar .nav ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.top-bar .nav ul li
{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.top-bar .nav ul li:hover
{
    color: var(--secondery-color);
}

.top-bar .nav ul .active
{
    color: var(--primary-color);
}

.top-bar .nav ul .active::after
{
    position: absolute;
    content: '';
    width: 120%;
    height: 4px;
    top: 5vh;
    left: -10%;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.top-bar .nav-mobile
{
    display: none;
}

.top-bar .nav-mobile ul
{
    display: none;
    list-style: none;
    position: absolute;
    padding: 0;
    background-color: #333;
    width: 20vw;
    text-align: center;
    right: 10%;
    top: 0;
}

.top-bar .nav-mobile ul li
{
   padding: 1rem;
   cursor: pointer;
}

.top-bar .nav-mobile ul li:hover
{
    background-color: var(--secondery-color);
}

.top-bar .nav-mobile ul .active
{
   background-color: var(--primary-color);
}

/* .top-bar .nav-mobile ul .active::after
{
    position: absolute;
    content: '';
    width: 120%;
    height: 4px;
    top: 5vh;
    left: -10%;
    border-radius: 1rem;
    background-color: var(--primary-color);
} */


.nav-mobile:hover ul
{
    display: block;
}

@media only screen and (max-width: 800px) 
{
    .top-bar
    {
        height: 5vh;
    }

    .top-bar .nav
    {
        display: none;
    }

    .top-bar .nav-mobile
    {
        display: block;
    }
    
    .top-bar .nav-mobile svg
    {
            font-size: 1.5rem;
    }
}