.about
{
    width: 80%;
    margin: 1rem auto;
}

.about h1
{
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
}

.about p
{
    font-size: 1.5rem;
    color: var(--secondery-color);
}