
.home
{
    min-height: 100vh;
    background: url(../../static/BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.home::after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(var(--primary-color),var(--secondery-color));
    opacity: 0.15;
    z-index: -1;
}

.mainHeader
{
    display: none;
}

.content
{
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vw;
}

.content .welcome-msg
{
    width: 50%;
}

.content .welcome-msg h1
{
    font-size: 2vw;
}

.content .welcome-msg p
{
    color: var(--secondery-color);
    font-size: 1rem;
}

.content .currency-table
{
    width: 45%;
    border: none;
}

@media only screen and (max-width: 600px) 
{
    .content
    {
        display: block;
        margin: auto;
    }

    .content .welcome-msg 
    {
        width: 100%;
        margin: 2rem auto;
    }

    .content .currency-table 
    {
        width: 100%;
        margin: 2rem auto;
    }
}