.contact-us
{
    position: relative;
}

/* .contact-us::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    background-image: linear-gradient( 45deg ,var(--secondery-light-color),var(--secondery-color) 80%);
    clip-path: polygon(0 100%,0% 0%,130% 0%,9% 15%);
} */

.contact-us .header
{
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    padding: 3rem;
    margin: 2rem auto;
}

.contact-us .header h1
{
    margin: 0;
}


.contact-us .header .title
{
    justify-content: center;
    align-self: center;
}

.contact-us .svg
{
    width: 90%;
    justify-self: center;
    align-self: center;
}

.contact-us .header .title .svg-inline--fa
{
    font-size: 2rem;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin: 1rem;
}

.contact-us .header .title .opening-hours
{
    width: 60%;
    margin: auto;
}

.contact-us .header .title .opening-hours h2
{
    color: var(--secondery-color);
}

.contact-us .header .title .opening-hours p
{
    text-align: left;
}


.Branches
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}