.contact-us
{
    position: relative;
    margin-top: 4rem;
}

/* .contact-us::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    background-image: linear-gradient( 45deg ,var(--secondery-light-color),var(--secondery-color) 80%);
    clip-path: polygon(0 100%,0% 0%,130% 0%,9% 15%);
} */

.contact-us .header
{
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    padding: 3rem auto;
}


.contact-us .header .title
{

}

.contact-us .svg
{
    width: 90%;
}

.Branches
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}