.contact-us
{
    position: relative;
    padding-top: 2vh;
}

.contact-us .header
{
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    padding: 3rem;
    margin: 2rem auto;
}

.contact-us .header h1
{
    margin: 0;
}


.contact-us .header .title
{
    justify-content: center;
    align-self: center;
}

.contact-us .svg
{
    width: 90%;
    justify-self: center;
    align-self: center;
}

.contact-us .header .title .svg-inline--fa
{
    font-size: 2rem;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    margin: 1rem;
}

.contact-us .header .title .opening-hours
{
    width: 60%;
    margin: auto;
}

.contact-us .header .title .opening-hours h2
{
    color: var(--secondery-color);
}

.contact-us .header .title .opening-hours p
{
    text-align: left;
}


.Branches
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}

@media only screen and (max-width: 600px) 
{
    .contact-us .header
    {
        display: block;
        padding: 1rem;
    }

    .contact-us .svg
    {
        display: none;
    }

    .Branches 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        align-content: center;
    }
}