@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root
{
    --primary-color: #00B1A6;
    --secondery-color: #7A7D7D;
    --secondery-light-color: #c4c4c4;
}

*
{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
}

body
{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
}