.Branche
{
    width: 48%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

.Branche .address
{
    font-size: 1vw;
    color: white;
}

.Branche .map
{
    width: 100%;
    border: none;
    border-radius: 1rem;
    height: 40vh;
}